.logo {
	margin: auto 0;
}
.nav {
    margin: auto 0;
    	ul {
    		display: flex;
    		justify-content: flex-end;
    		align-items: center;
    		min-height: 100%;
    		}
    	li {
    		margin-left: 20px;
    		margin-right: 20px;
			a {
				font-family: 'LatoRegular', sans-serif;
				font-size: 2.4rem;
				color: #2d3950;
				text-transform: uppercase;
                transition: color .3s;
				}
			}
 }

 .icon-menu {
    width: 30px;
    height: 30px;
    border: 2px solid #15a4fa;
    border-radius: 2px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #f6f9f9;
}
.row {
    width: 90%;
    height: 2px;
    background: #15a4fa;
}

 .in-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
        h1 {
            font-size: 12rem;
            color: #FFF;
            white-space: nowrap;
            text-transform: uppercase;
            letter-spacing: 11px;
            font-family: 'LatoBold', sans-serif;
            }
        p {
            margin: 30px 0 88px;
            font-family: 'LatoRegular', sans-serif;
            font-size: 2rem;
            letter-spacing: 1px;
            color: #FFF;
            }  
        .but-banner {

            padding: 23px 35px;
            background-color: #15a4fa;
            color: #FFFFFF;
            font-size: 2rem;
            font-family: 'LatoRegular', sans-serif;
            border:1px solid #15a4fa;
            border-radius: 5px;
            transition: background .5s;
                    } 
        i { 
            margin-top:200px;
            color: #FFFFFF;
            font-size: 3.5rem;
            }
}
.first-part {
    text-align: center;
    font-family: 'LatoRegular', sans-serif;
    h2 {
       color:#2d3950;
       font-size: 4rem;
       font-weight: 300; 
    }
    p {
        margin-top: 1.9vh;
        color: #999999;
        font-size: 2rem;
        line-height: 3.2rem;
    }
}
.second-part {
    display: flex;
    justify-content: space-between;
    margin-top: 19vh;
    text-align: center;
    i {
        color:white;
        background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
        font-size: 5rem;
        height: 100px;
        width: 100px;
        text-align: center;
        line-height: 100px;
        transition: text-shadow .3s;
    }
    h3 {
        margin-top: 4vh;
        font-family: 'LatoRegular', sans-serif;
        font-size: 2.2rem;
        color:#2d3950; 
    }
    p {
        margin-top: 2.5vh;
        font-family: 'LatoRegular', sans-serif;
        font-size: 1.5rem;
        color:#999999;
    }
}
.third-part {
    margin-top: 17vh;
    text-align: center;
    h2 {
        font-family: 'LatoRegular', sans-serif;
        font-size: 4.1rem;
        font-weight: 300;
        color:#2d3950;
    }
    p {
        margin-top:2.1rem;
        font-family: 'LatoRegular', sans-serif;
        font-size: 1.5rem;
        color:#909090;
    }
}

.work-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 9vh;
        .block {
            position:relative;
            width: 32%;
            margin-bottom: 3.4vh;
        
        img {
            width:100%;
            height:100%;
        }

        .screen {
            position: absolute;
            top:0;
            width:100%;
            height:100%;
            background: #28a6f3;
            opacity: 0.9;
            z-index: -1;
            text-align:center;

            i {
                margin-top:100px;
                margin-right:10px;
                color:  #FFF;
                font-size:15px;
                border: 1px solid #FFF;
                border-radius: 5px;
                padding:16px;
            }
        }
    }
}

.in-bot-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 2.2vh;
        font-family: 'LatoRegular', sans-serif;
        font-size: 4.1rem;
        color:#FFFFFF;
        font-weight: 300; 
    }
    p{
        margin-bottom: 6vh;
        font-family: 'LatoRegular', sans-serif;
        font-size: 1.5rem;
        color:#999999; 
    }
    .text {
        width: 40vw;
        font-family: 'LatoRegular', sans-serif;
        font-size: 1.5rem;
        color:#999999;
        padding: 24px 20px;
        margin-bottom: 2.2vh;
        border: 1px solid #999999;
        border-radius: 4px;
        background-color: transparent;
        transition: all .3s;
    }
    textarea {
        resize: none;
    }
    .ch-btn {
        display:flex;
        justify-content: space-between;
        input[type="checkbox"] {
            display: none;
        }
        label{
            
            /*line-height: 40px;*/
            font-family: 'LatoRegular', sans-serif;
            font-size: 1.5rem;
            color:#999999;
        }
    }
    .but-bottom {

            padding: 16px 50px;
            background-color: #15a4fa;
            color: #FFFFFF;
            font-size: 1.8rem;
            font-family: 'LatoRegular', sans-serif;
            border:1px solid #15a4fa;
            border-radius: 5px;
            transition: background .5s;
                    }
}

.footer p{
    font-family: 'LatoRegular', sans-serif;
    font-size: 1.5rem;
}

.face i{
        margin-right:6px;
        color:white;
        font-size: 1.5rem;
        height: 40px;
        width: 40px;
        background:#3b5998;
        text-align: center;
        line-height: 40px;
        border-radius:1px;
    }
.twit i{
        margin-right:6px;
        color:white;
        font-size: 1.5rem;
        height: 40px;
        width: 40px;
        background:#55acee;
        text-align: center;
        line-height: 40px;
        border-radius:1px;
    }
.goog i{
        margin-right:6px;
        color:white;
        font-size: 1.5rem;
        height: 40px;
        width: 40px;
        background:#dd4b39;
        text-align: center;
        line-height: 40px;
        border-radius:1px;
    }
.lin i{
        color:white;
        font-size: 1.5rem;
        height: 40px;
        width: 40px;
        background:#0976b4;
        text-align: center;
        line-height: 40px;
        border-radius:1px;
    }
